
.itemModal {
    margin-right: 5px;
}

.addItemOrder {
    /* text-align:center; */
    line-height:33px;
}
.addOrderFirstRow{
    margin-left: 8px;
}

.card-header2 {
    line-height: 78px;
}


.card-body-content{
    
    margin: 0px 10px;
    
}


.card { 
    
    margin-right: 20px;
} 

.card-body-icon1{
    position: absolute;
    right: 10px;
}
.card-body-icon2{
    position: absolute;
    right: 10px;
}

.icon{
    position: absolute;
    right: 10px;
}

.dates {
    margin-left: 15px;
}
.datesContent{
    margin-left:10px;
    /* margin: 0px 10px; */
}