.toolbtn {
    margin-top : 10px;
}

.addToolAssetNum{
    margin-bottom : 5px;
}

#addAssetListTitle{
    margin : 10px 0px;
}

.form-group1{
    padding: 0px;
}

.addAssetNumCol{
    margin-bottom : 10px;

}
