<%- include('parts/html_head') %>
<%- include('parts/navbar') %>



<div id="forgetPWFormdiv">


    <form method="POST" id="forgetPWForm">
        <div class="form-group">

            <label for="exampleInputEmail1">Email</label>

            <div class="form-row align-items-center">

                <div class="col-auto">
                    <input type="text" class="form-control mb-2" id="userAccount" name="userAccount"
                        placeholder="ali.sun" style="width: 102px;" required>
                </div>

                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup"
                            placeholder="lcfuturecenter.com" value="lcfuturecenter.com" readonly="value"
                            style="width: 168px;" disabled>
                    </div>
                </div>

            </div>

        </div>

        <div class="loginbtn">
            <button id="loginbtn" type="submit" class="btn btn-secondary">寄送密碼</button>
        </div>
    </form>


</div>
<%- include('parts/html_script') %>
<script>
$('#forgetPWForm').on('submit', function (e) {
    e.preventDefault();

    $.ajax({
        url: '/user/forgetpw',
        type: 'POST',
        data: new FormData(this),
        contentType: false,//一定要加
        cache: false,
        processData: false,//一定要加
        dataType: 'json'
    }).done(function (data) {
        alert(data.msg);
        window.location = 'http://localhost:3000/user/login';
    })
})
</script>
<%- include('parts/html_foot') %>