<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div>
<div class="registerSuccess">
    <img src="../lib/pic/tick.png" alt="Girl in a jacket" width="60" height="60">   
</div>
<div class="registerSuccesstext">
    <a href="/user/login" style="color:#202224;">註冊成功，點擊登入</a>
</div>
</div>
<%- include('parts/html_script') %>
<%- include('parts/html_foot') %>