<%- include('parts/html_head') %>
<%- include('parts/navbar') %>

<div class="aliList">
    <% if (locals.role != 'admin') { %>

    <a href="/sighting/submit"><button type="button" class="btn btn-danger ">Submit</button></a>
    <% } %>
    <a href="#"><button type="button" class="btn btn-danger " id="searchbtn"
            onclick="return queryOption()">Search</button></a>



    <div class="sightingQuery"
        style="margin-top:13px;border-style: solid;padding:10px;border-width: 1px;border-radius: 10px;border-color: 	#D3D3D3;">
        <form id="querySelect" method="POST">


            <div class="form-group row" style="margin-bottom:0px; margin-right: 200px;">
                <label for="ALIno" class="col-sm-2 col-form-label">ALI No.</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" id="ALIno" name="ALIno">
                </div>

                <div id="open">
                    <a href="#"><img src="../../lib/pic/plus.png" style="width: 19px"></a>
                </div>
                <div id="close">
                    <a href="#"><img src="../../lib/pic/minus.png" style="width: 19px"></a>
                </div>


            </div>



            <div id="advanceSearch">

                <div class="form-group row" style="margin-bottom:0px; margin-right: 200px;">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="title" name="title" disabled>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0px; margin-right: 200px;">
                    <label for="project" class="col-sm-2 col-form-label">Project</label>
                    <div class="col-sm-4">
                        <select id="project" class="form-control form-control-sm" name="project" disabled="false">
                            <option value='' style="display:none"></option>
                            <option>Drift3 / Ironhide3</option>
                            <option>Lark</option>
                            <option>Lusso</option>
                            <option>Matilda</option>
                            <option>Odin2 / Thor2_Intel</option>
                            <option>Odin2 / Thor2_AMD</option>
                            <option>Raptor2 / Blackbird2</option>
                            <option>Thor-P_gen2</option>
                            <option>Tiger / Serval</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:-10px; margin-right: 200px;">
                    <div class="col-sm-2">Category</div>
                    <div class="col-sm-10">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="allC" value="allC"
                                name="category">
                            <label class="form-check-label form-control-sm" for="allC">All</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="CPU" value="CPU"
                                name="category">
                            <label class="form-check-label form-control-sm" for="CPU">CPU</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="GPU" value="GPU"
                                name="category">
                            <label class="form-check-label form-control-sm" for="GPU">GPU</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="USBC" value="USBC"
                                name="category">
                            <label class="form-check-label form-control-sm" for="USBC">USBC</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row" style="margin-bottom:0px; margin-right: 200px;">
                    <div class="col-sm-2">Priority</div>
                    <div class="col-sm-10">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="allP" value="allP"
                                name="priority">
                            <label class="form-check-label form-control-sm" for="allP">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="emergency"
                                value="Emergency" name="priority">
                            <label class="form-check-label form-control-sm" for="emergency">Emergency</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="high" value="High"
                                name="priority">
                            <label class="form-check-label form-control-sm" for="high">High</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-control-sm" type="checkbox" id="medium" value="Medium"
                                name="priority">
                            <label class="form-check-label form-control-sm" for="medium">Medium</label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="aliList">
    <div id="result"></div>
    <table class="aliListTable">
        <thead>
            <tr>
                <th style="width: 8%;">Priority</th>
                <th style="width: 12%;">Number</th>
                <th style="width: 30%;">Title</th>
                <th style="width: 10%;">State</th>
                <th style="width: 8%;">Category</th>
                <th style="width: 10%;">Project</th>
                <th style="width: 12%;">Created</th>
                <th style="width: 10%;">Engineer Owner</th>
            </tr>
        </thead>
        <tbody id="queryResult">
        </tbody>
    </table>

</div>

<!-- <table class="">
    <thead>
        <tr>
            <th style="width: 8%;">Priority</th>
            <th style="width: 12%;">Number</th>
            <th style="width: 30%;">Title</th>
            <th style="width: 10%;">State</th>
            <th style="width: 8%;">Category</th>
            <th style="width: 10%;">Project</th>
            <th style="width: 12%;">Created</th>
            <th style="width: 10%;">Engineer Owner</th>
        </tr>
    </thead>
    <tbody id="queryResult">
        <tr>
            <td style="width: 8%;">Priority</td>

            <td style="width: 12%;"><a href="/sighting">Number</a></td>

            <td style="width: 30%;">Title</td>
            <td style="width: 10%;">State</td>
            <td style="width: 8%;">Category</td>
            <td style="width: 10%;">Project</td>
            <td style="width: 12%;">Created</td>
            <td style="width: 10%;">Engineer Owner</td>
        </tr>
    </tbody>
</table> -->

<%- include('parts/html_script') %>
<script>
    // select all and cancel all
    $('#allP').change(function () {

        const Toggle = $(this).prop('checked');//有勾為true 沒勾為flase
        // console.log(Toggle)
        if (Toggle) {
            $(':checkbox[name="priority"]').prop('checked', Toggle);
        } else {
            $(':checkbox[name="priority"]').prop('checked', Toggle);
        }
    });
    $('#allC').change(function () {

        const Toggle = $(this).prop('checked');//有勾為true 沒勾為flase
        // console.log(Toggle)
        if (Toggle) {
            $(':checkbox[name="category"]').prop('checked', Toggle);
        } else {
            $(':checkbox[name="category"]').prop('checked', Toggle);
        }
    })

    $('#close').hide();
    $('#advanceSearch').hide();
    $('.aliListTable').hide();
    $('.sightingQuery').hide();

    //開關模糊搜尋
    let search = '';
    $('#open').click(function () {
        $('#advanceSearch').show();
        $('#close').show();
        $('#open').hide();
        $('#title').removeAttr('disabled');
        $('#project').removeAttr('disabled');
        $('#ALIno').attr('disabled', 'disabled');
        search = $('#ALIno').val();
        $('#ALIno').val('');
    })
    $('#close').click(function () {
        $('#advanceSearch').hide();
        $('#open').show();
        $('#close').hide();
        $('#title').attr('disabled', 'disabled');
        $('#project').attr('disabled', 'disabled');
        $('#ALIno').removeAttr('disabled');
        $('#ALIno').val(search)

    });

    let i = 0;
    function queryOption() {
        if (i == 0) {
            $('.sightingQuery').show();
            i++;

        } else {
            i--;
            $('.sightingQuery').hide();
        }
    };
    //滑到issue 變色的功能
    function overIssue() {
        $("tbody tr").mouseover(function () {
            $(this).css("background-color", "#e9ecef");
        });
    };
    function leaveIssue() {
        $("tbody tr").mouseleave(function () {
            $(this).css("background-color", "white")
        });
    };
    $('#querySelect').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            url: '/sighting/query',
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: "json"
        }).done(function (data) {
            // console.log(data);
            // console.log(Boolean(data.length));
            // console.log(data.length);
            $('#queryResult').text('')

            if (data.length) {
                $("#result").text("");
                $('.aliListTable').show();
                if (data.length) {
                    
                    for (let i = 0; i < data.length; i++) {
                        console.log(`/sighting/${data[i].ALINo}`, "123")
                        $('#queryResult').append(`\
                <tr>\
                <td>${data[i].priority}</td>\
                <td><a href="/sighting/${data[i].ALINo}" target="_blank" >${data[i].ALINo}</a></td>\
                <td>${data[i].title}</td>\
                <td>${data[i].status}</td>\
                <td>${data[i].category}</td>\
                <td>${data[i].project}</td>\
                <td>${data[i].createDate}</td>\
                <td>${data[i].owner}</td>\
                </tr>`);
                    }

                } else {
                    console.log(`/sighting/${data[i].ALINo}`)
                    $('#queryResult').append(`\
                <tr>\
                <td>${data.priority}</td>\
                <td><a href="/sighting/${data[i].ALINo}" target="_blank">${data.ALINo}</a></td>\
                <td>${data.title}</td>\
                <td>${data.status}</td>\
                <td>${data.category}</td>\
                <td>${data.project}</td>\
                <td>${data.createDate}</td>\
                <td>${data.owner}</td>\
                </tr>`);
                }

                overIssue();
                leaveIssue();
            } else {

                $("#result").text("0 objects");
                $('.aliListTable').hide();
                $('td').text('');
            }
        })
    })


</script>
<%- include('parts/html_foot') %>