<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div id="title">
    <div id="head">

    </div>
    <div class="aliDashboard row">
        <div id="left">

        </div>

        <div id="right">
        </div>
    </div>
</div>

<%- include('parts/html_script') %>
<%- include('parts/html_foot') %>