<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div id="projectName">
    <!-- <h3 for="exampleFormControlFile1">上傳txt file</h3> -->
    
    <form method="POST" class="form-group" id="tlcForm" enctype="multipart/form-data">
        
        <div>
            Project Name: &nbsp;
            <input name="project" type="text">
        </div>
        
        
        <!-- <div> -->
            <input type="submit" id="tlcUploadBTN" class="btn btn-secondary" value="Upload">
        <!-- </div> --></div>
    </form>
</div>

<%- include('parts/html_script') %>
<script>
    // ajax的query tag要用整個form的id，只用button整個報錯
    var project = "";
    var uploadedTLCFileName = "";

    $('#tlcForm').on('submit', function (e) {
        e.preventDefault();//prevent default post
        $.ajax({
            url: '/user/test',
            type: 'POST',
            data: new FormData(this),//the request data that send to route res.json(req.files)
            contentType: false,
            cache: false,
            processData: false,
            dataType: 'json',
        }).done(function (data) {
            console.log(data);
        });
    });

</script>
<%- include('parts/html_foot') %>