<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<form id="registerForm" method="post" onsubmit="return checkInfotest(this)">
    <label for="recipient-name" class="col-form-label">姓名</label>
    <input type="text" class="form-control col-md-4" id="recipient-name" name="email">
    <!-- <input id="addModelbtn" type="submit" class="btn btn-primary" value="新增"> -->
    <button id="regisbtn" type="submit" class="btn btn-secondary">註冊</button>
</form>
<%- include('parts/html_script') %>
<script>
    function checkInfotest() {
        var userEmail = $("#recipient-name").val();
        // const emailPattern = /\./;
        // var result = userEmail.match(emailPattern);
        if (userEmail == '') {
            alert("Email錯誤");
            return false;
        }
        else {
            return true;
        }
    }
    $('#registerForm').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            url: '/user/test',
            type: 'POST',
            data: new FormData(this),
            contentType: false,//一定要加
            cache: false,
            processData: false,//一定要加
            dataType: 'json'
        }).done(function (data) {
            console.log("success")
        })
    })
</script>
<%- include('parts/html_foot') %>