<%- include('parts/html_head') %>
<%- include('parts/navbar') %>

<div>
    <form method="POST" enctype="multipart/form-data">

        <input name="tlcfile" type="file" id="tlcfile" accept=".txt" />
        <input type="submit" id="tlcUploadBTN" value="Upload">

    </form>
</div>

<%- include('parts/html_script') %>
<script>
    $('#tlcUploadBTN').on('submit', function (e) {
        e.preventDefault();//prevent default post
        $.ajax({
            url: '/tlc',
            type: 'POST',
            data: new FormData(this),//the request data that send to route res.json(req.files)
            contentType: false,
            cache: false,
            processData: false,
            dataType: 'json',
        }).done(function (data) {
            alert("yes")
            console.log(data.path);
        });
    }) 
</script>
<%- include('parts/html_foot') %>