<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <!-- <title><%= locals.title ? title +'-':'' %> Ali's Activity News</title> -->

    <script src="/lib/jquery-3.4.1.js"></script>
    <!-- <script src="/fullcalendar/js/main.js"></script> -->
    <script src="/lib/dateformat.js"></script>
    <script src="/lib/echarts.min.js"></script>
    <!-- <link rel="stylesheet" href="/fullcalendar/css/main.css"> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/style/link.css">
</head>

<body>