<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <!-- <title><%= locals.title ? title +'-':'' %> Ali's Activity News</title> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">  
    <link rel="stylesheet" href="/style/link.css">
</head>
<body>